.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 16px;

    h1 {
      font-size: 200px;
    }

    h2 {
      font-size: 32px;
    }
  }
