
$size: 12px;

.loader {
  position: relative;
  left: -9999px;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--primary-color);
  box-shadow: 9999px 0 0 -5px var(--primary-color);
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;

  &::before, &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--primary-color);
    gap: 4px;
  }

  &::before {
    box-shadow: 9984px 0 0 -5px var(--primary-color);
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }

  &::after {
    box-shadow: 10014px 0 0 -5px var(--primary-color);
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: 0.5s;
  }

}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px var(--primary-color);
  }
  30% {
    box-shadow: 9984px 0 0 2px var(--primary-color);
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px var(--primary-color);
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px var(--primary-color);
  }
  30% {
    box-shadow: 9999px 0 0 2px var(--primary-color);
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px var(--primary-color);
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px var(--primary-color);
  }
  30% {
    box-shadow: 10014px 0 0 2px var(--primary-color);
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px var(--primary-color);
  }
}
