@import '../../styles/utils.scss';

.snackbar {
  position: fixed;
  bottom: $padding-medium;
  transition: transform 0.3s ease-out;
  transform: translateY(200%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.snackbar-open {
  transform: translateY(0);
}

.snackbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 600px;
  padding: $padding-medium;
  background-color: #323232;
  border: 4px solid black;
  font-family:   var(--secondary-font);
  box-shadow: 4px 4px 0px #000000;
  border-radius: 12px;
  color: #fff;
  text-align: center;
}
